/***********************************************
        VARIABLES
*********************************************** */

//Colours

$light-blue: #C7F7FF;
$med-blue: #89C0C9;
$dark-blue: #3a5E63;
$light-brown: #C9A689;
$dark-brown: #7C593C;
$light-gray: #d4d4d4;
$dark-gray: #222;
$white: #fff;

//fonts

$main-font-family: 'Josefin Sans',
‘Trebuchet MS’,
Helvetica,
sans-serif;
$header-font-family: Cardo,
‘Palatino Linotype’,
‘Book Antiqua’,
Palatino,
serif;

//font-size

$h: 1.999rem;
$p: 1.414rem;
$sm: 1rem;

//font-weight:

$light = 100;
$normal = 400;
$bold = 700;

//breakpoints

$breakpoint-sm: "all and (min-width: 701px) and (max-width:900px)";
$breakpoint-med: "all and (min-width: 901px) and (max-width: 1400px)";
$breakpoint-lrg: "all and (min-width:1401px)";