// main SASS file

@import "_variables.scss";
@import "_mixins.scss";


/*                DEFAULTS
***********************************************/

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;


    &:after,
    &:before {
        @include border-box-stuff;
    }
}

html {
    font-size: 16px;
    font-family: $main-font-family;
    line-height: 1.6;
    font-weight: $normal;
}

h1,
h2,
h3,
h4 {
    font-weight: $bold;
    font-family: $header-font-family;
}

ul {
    list-style: none;
}

/***********************************************
                SPECIAL
***********************************************/



/***********************************************
                LAYOUT
***********************************************/
.bg-header {
    background-color: $white;
    background-color: $light-blue;
    color: $dark-gray;
    border-bottom: 1rem solid $med-blue;
    border-top: 1rem solid $dark-blue;
    position: relative;


    &:before,
    &:after {
        content: "";
        position: absolute;
        bottom: -1rem;
        height: 1rem;
        width: 30%;
        background-color: $dark-blue;
    }

    &:before {
        left: 0;
    }

    &:after {
        right: 0;
    }
}

.bg-focal {
    background-color: $light-brown;
    color: $dark-brown;
}

.bg-content1 {
    background-color: $white;
    color: $dark-gray;
    font-weight: $light;
}

.bg-content2 {
    background-color: $light-blue;
    color: $dark-blue;
    font-weight: $light;
}

.bg-footer {
    background-color: $white;
    color: $light-gray;
}

header {
    width: 400px;
    /* default min screen width */
    margin: 0 auto;
    position: relative;

    @include screen-small {
        width: 700px;
        margin: 0 auto;
        min-height: 8rem;
    }

    @include screen-medium {

        width: 900px;
        margin: 0 auto;
    }

    @include screen-large {

        width: 1400px;
        margin: 0 auto;

    }

    &:before,
    &:after {
        @include screen-small {
            width: 230px;
        }

        @include screen-medium {
            width: 300px;
        }

        @include screen-large {
            width: 450px;
        }
    }

    h1 {
        width: 100%;
        padding: 0 2rem;

        @include screen-large {
            width: 100%;
        }
    }

    nav {
        width: 100%;
        display: flex;
        flex-direction: column;
        /* mobile first */
        justify-content: flex-start;
        align-items: stretch;
        padding: 2rem 0;

        @include screen-small {
            flex-direction: row;
            /* mobile first */
            justify-content: space-around;
            align-items: center;
        }

        @include screen-medium {
            flex-direction: row;
            /* mobile first */
            justify-content: space-around;
            align-items: center;
        }

        @include screen-large {
            flex-direction: row;
            /* mobile first */
            justify-content: space-around;
            align-items: center;
            width: 100%;
            padding: 0rem 0;
            background-color: #fff;
        }

        > a {
            flex-basis: 100%;
            flex-grow: 1;
            flex-shrink: 0;
            text-align: center;

            @include screen-small {
                flex-basis: 20%;
                font-size: $sm;
                line-height: 2rem;
                min-height: 6rem;
                border: none;
                border-left: 1px solid $light-gray;
                background-color: $white;
            }

            @include screen-medium {
                flex-basis: 20%;
                font-size: $sm;
                line-height: 2rem;
                min-height: 2rem;
                border: none;
                border-left: 1px solid $light-gray;
                padding: 0 1.0rem;
                margin: 1.0rem 0;
                background-color: $white;


            }

            @include screen-large {
                flex-basis: 20%;
                font-size: $p;
                line-height: 2rem;
                min-height: 2rem;
                border: none;
                border-left: 1px solid $light-gray;
                padding: 0 1.0rem;
                margin: 1rem 0;
                background-color: $white;
            }
        }
    }

}

section.focal {
    width: 400px;
    /* default */
    margin: 0 auto;

    @include screen-small {
        width: 700px;

    }

    @include screen-large {
        width: 1400px;

    }

    h2 {
        @include screen-medium {
            width: 600px;
            margin: 0 auto;
        }

        @include screen-large {
            font-size: 3.998rem;
            width: 600px;
            margin: 0 auto;
        }
    }

    p.author {
        @include screen-medium {
            width: 600px;
            margin: 0 auto;
        }

        @include screen-large {
            width: 600px;
            margin: 0 auto;
        }

    }
}



section.content1 {
    padding: 2rem 0;

    @include screen-small {
        width: 700px;
        margin: 0 auto;
    }

    @include screen-medium {
        width: 900px;
        margin: 0 auto;
    }

    @include screen-medium {
        width: 1400px;
        margin: 0 auto;
    }


    h3 {
        @include screen-medium {
            font-size: $h;
            font-weight: $light;
        }

        @include screen-large {
            font-size: 2.827rem;
            font-weight: $light;
        }

        &.fa-2x {
            @include screen-medium {
                font-size: $h;
                padding-right: 1rem;
            }

            @include screen-large {

                font-size: 2.827rem;
                padding-right: 1rem;
                vertical-align: middle;
            }
        }
    }

}

section.content2 {
    padding: 2rem 0;

    @include screen-small {
        width: 700px;
        margin: 0 auto;
    }

    @include screen-medium {
        width: 900px;
        margin: 0 auto;
    }

    h4 {
        @include screen-small {
            font-size: $p;
        }

        @include screen-medium {
            font-size: $p;
        }

        @include screen-large {
            font-size: $h;
        }
    }

    li {
        @include screen-small {
            font-size: $p;
        }

        @include screen-medium {
            font-size: $p;
        }

        @include screen-large {
            font-size: $h;
        }
    }

    p {
        @include screen-medium {
            font-size: $sm;
            font-weight: $normal;
        }

        @include screen-large {
            font-size: $p;
        }

    }
}

.row {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;


    .col {
        @include column-size(100%);
        /* mobile default */
    }

}

footer {
    padding: 2rem 0;

    @include screen-small {
        width: 700px;
        margin: 0 auto;
    }

    @include screen-medium {
        width: 900px;
        margin: 0 auto;
    }

    @include screen-large {
        width: 1400px;
        margin: 0 auto;
    }


    .row {
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;

        @include screen-medium {
            flex-wrap: wrap;
        }

        @include screen-large {

            flex-wrap: wrap;
            justify-content: space-evenly;

        }

        .col {
            @include screen-medium {
                @include column-size(50%)
            }

            @include screen-large {
                @include column-size(50%);

            }

            &:first-child {
                border-left: 0;

            }

        }

        > * {
            flex-basis: 50%;
            padding-bottom: 2rem;
            border-left: 1px solid $dark-blue;
            margin-bottom: 2rem;

            @include screen-small {
                flex-basis: 50%;

            }
        }

        .last-row {
            @include screen-medium {
                justify-content: flex-start;

            }

            @include screen-large {
                justify-content: flex-start;
            }

            > * {
                flex-basis: 100%;

            }

            &.col {
                @include screen-medium {
                    @include column-size(100%);
                }

                @include screen-large {
                    @include column-size(100%);

                }
            }
        }


        &:first-child .col:last-child {
            @include screen-small {
                unicode-bidi: bidi-override;
                direction: rtl;
            }
        }


    }
}

/***********************************************
                NAVIGATION
***********************************************/
header nav {

    > a {
        text-align: center;
        text-decoration: none;
        color: $dark-gray;
        font-size: $p;
        letter-spacing: 0.25rem;
        border: 1px solid $light-gray;
        border-bottom: none;
        padding: 1.0rem 2rem;
        line-height: 1;
        background-color: $white;

        &:hover {
            font-weight: $bold;
            color: $dark-brown;
        }

        &:first-child {
            @include screen-small {
                border-right: 1px solid $light-gray;
            }

            @include screen-medium {
                border-left: none;
            }

            @include screen-large {
                border-left: none;

            }
        }
    }

}

/***********************************************
                CONTENT
***********************************************/
header h1 {
    color: $dark-brown;
    letter-spacing: 0.1rem;

    @include screen-small {

        color: $dark-brown;
    }


    @include screen-medium {

        color: $dark-blue;
    }

    @include screen-large {

        color: $dark-brown;
    }



    i.fa-lg {
        display: block;
        width: 25%;
        float: left;
        font-size: 7rem;
        line-height: 12.7936rem;
        color: $light-brown;

        @include screen-small {
            display: inline;
            color: $dark-brown;
            vertical-align: baseline;
            float: none;
            font-size: 4rem;
            line-height: 6.3968rem;
        }

        @include screen-medium {
            display: inline;
            color: $dark-blue;
            vertical-align: baseline;
            float: none;
            font-size: 4rem;
            line-height: 6.3968rem;
        }

        @include screen-large {
            display: inline;
            color: $dark-brown;
            vertical-align: baseline;
            float: none;
            font-size: 4rem;
            line-height: 6.3968rem;
        }


        ~ span {
            float: right;
            width: 75%;
            font-size: 3.998rem;
            /**
            2 lines of 3.998 * 1.6 = 12.7936
            **/
            padding-left: 1rem;
            text-align: right;

            @include screen-small {
                float: none;
                letter-spacing: 0.25rem;
                font-size: 3.998rem;
                /**
                1 lines of 3.998 * 1.6 = 6.3968
                **/
                text-align: left;
            }

            @include screen-medium {
                float: none;
                letter-spacing: 0.25rem;
                font-size: 3.998rem;
                /**
                    1 lines of 3.998 * 1.6 = 6.3968
                **/
                text-align: left;
            }

            @include screen-large {
                float: none;
                letter-spacing: 0.25rem;
                font-size: 3.998rem;
                /**
        1 lines of 3.998 * 1.6 = 6.3968
        **/
                text-align: left;
            }

        }

    }
}

.focal {

    h2 {
        font-size: $h;
        line-height: 1.2;
        padding: 2rem 2rem 1rem 2rem;
    }

    &.author {
        font-size: $sm;
        padding: 0.2rem 2rem 2rem;
    }
}

.content1 .row {
    @include screen-small {
        /* same as mobile default */
    }

    @include screen-medium {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;
    }

    @include screen-large {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: flex-start;
    }

    &.col {
        @include screen-medium {
            @include column-size(33%);
             flex-grow: 1;
             flex-shrink: 0;
        }

        @include screen-large {
            @include column-size(33%);
             flex-grow: 1;
    flex-shrink: 0;
        }
    }
}

.content1 {

    h3 {
        font-size: $h;
        padding: 0.2rem 2rem 2rem;


        i {
            vertical-align: middle;
            padding-right: 2rem;
        }
    }

    p {
        font-size: $p;
        padding: 0.5rem 2rem 2rem;
    }
}

.content2 {

    h3 {
        font-size: $h;
        padding: 1rem 2rem 0.5rem;
    }

    h4 {
        font-size: $h;
        padding: 1rem 2rem 0rem;
    }

    p {
        font-size: $p;
        padding: 0.5rem 2rem 1rem;
    }

    li {
        padding: 0.5rem 2rem;
        font-size: $p;
    }

    &.row {
        @include screen-small {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: flex-start;
        }

        @include screen-medium {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: flex-start;
        }

        @include screen-large {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-items: flex-start;
        }

        &.col {
            @include screen-small {
                @include column-size(50%);
            }

            @include screen-medium {
                @include column-size(25%);
                 flex-grow: 1;
    flex-shrink: 0;

            }

            @include screen-large {
                @include column-size(20%);
                     flex-grow: 1;
    flex-shrink: 0;
            }
        }
    }

    span[lang] {
        position: relative;

        &:hover:after {
            position: absolute;
            top: -0.5rem;
            left: 0;
            content: attr(data-country);
            display: block;
            padding: 0.2rem 1rem 0.2rem 2rem;
            font-size: $sm;
            line-height: 2rem;
            height: 2rem;
            width: auto;
            word-break: keep-all;
            overflow-wrap: normal;
            overflow: hidden;
            background-color: rgba(255, 255, 255, 0.8);
            background-image: url(../img/uk-icon.png);
            background-repeat: no-repeat;
            background-size: 1.5rem auto;
            background-position: left center;
        }
    }

    h4 {
        span[lang="sv"]:after {
            background-image: url(../img/sv-icon.png);
        }

        span[lang="pt"]:after {
            background-image: url(../img/pt-icon.png);
        }

        span[lang="fr"]:after {
            background-image: url(../img/fr-icon.png);
        }

        span[lang="no"]:after {
            background-image: url(../img/no-icon.png);
        }

        span[lang="hi"]:after {
            background-image: url(../img/hi-icon.png);
        }

        span[lang="es"]:after {
            background-image: url(../img/es-icon.png);
        }
    }
}

/***********************************************
                FOOTER
***********************************************/
footer {

    h4 {
        font-size: $p;
        padding: 0.5rem 2rem;
        color: $dark-brown;
    }

    p {
        font-size: $sm;
        padding: 0.5rem 2rem;
        color: $dark-gray;

        @include screen-large {
            font-size: $p;
            letter-spacing: 0.2rem;
        }

        &:last-child {
            @include screen-large {
                color: $light-gray;
            }
        }
    }

    .fa-circle {
        color: $dark-gray;

        @include screen-small {
            color: $med-blue;
        }

        @include screen-medium {
            color: $light-brown;
        }

        @include screen-large {
            color: $med-blue;
        }
    }

    h4[lang=de] {
        display: block;

        @include screen-small {
            display: none;
        }

        @include screen-medium {
            display: none;
        }

        @include screen-large {
            display: none;
        }
    }

    h4[lang=en] {
        display: none;

        @include screen-large {
            display: block;
        }
    }

    h4[lang=ar] {
        display: none;

        @include screen-small {
            display: block;
        }
    }

    h4[lang=ru] {
        display: none;

        @include screen-medium {
            display: block;
        }
    }
}
